* {
  margin: 0;
  padding: 0;
}

.App {
  text-align: center;
}

.city-card {
  margin: 1rem auto;
  width: 20rem;
  padding: 0.5rem 1rem;
  border: 1px solid black;
  border-radius: 5px;
}

.city-weather-descr {
  margin: 0.5rem 0 1rem 0;
}